@model MinderXAuth.Models.User


<form action="/Settings/Change" method="post">

    <h2>Login</h2> <input type="text" value="@Model.UserLogin" name="UserLogin">
    <h2>EMail</h2> <input type="text" value="@Model.Email" name="Email">
    <h2>Password</h2> <input type="text" value="@Model.UserPassword" name="UserPassword">
    <h2>Picture</h2> <input type="text" value="@Model.ProfilePic" name="ProfilePic"><img src="@Model.ProfilePic" class="img-circle" height="100" width="100">

    <input type="submit" value="Change">
</form>